.banner-container {
}

.banner-container img {
    height: auto;
    display: block;
    margin: auto;
}

.about-one-liner-paragraph {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 70%;
    font-size: 30px;
}

.founding-story-div {
    width: 70%;
    color: #414789;
    font-size: 16px;
}

.founding-story-paragraph {
    margin-bottom: 40px;
}

.about-grid-container {
    width: 90%;
    margin-top: 50px;
    border-top: 1px solid black;
}

.about-grid-container h2 {
    margin-top: 50px;
    font-size: 40px;
    margin-bottom: 100px;
}

.about-grid-item-header {
    color: #ffa00e;
    font-size: 24px;
    text-align: left;
}

.about-grid-item-paragraph {
    margin-top: 5px;
    color: #414789;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.about-grid-icon-paragraph {
    text-align: left;
}
