.banner-container {
    width: 95%;
}

.banner-container img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.about-one-liner-paragraph {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 70%;
    font-size: 30px;
}

.founding-story-div {
    width: 70%;
    color: #414789;
    font-size: 16px;
}

.founding-story-paragraph {
    margin-bottom: 40px;
}
