.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.home-header {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 2%;
}

.home-details-container {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 35px;
}

.home-details-paragraph {
    margin-top: 4.5%;
}

.home-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5%;
    width: 50%;
    padding-left: 20%;
    padding-right: 20%;
}

.banner-image-container {
    width: 70%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

.banner-image-container img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.one-line-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin-top: 100px;
}

.one-line-description-container h3 {
    font-size: 24px;
    color: #414789;
}

.one-line-description-container p {
    margin-top: 20px;
    font-size: 24px;
    color: black;
}


@media screen and (max-width: 1015px) {
    .home-details-container {
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .btn {
        height: 80px;
    }
}
